# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so.0.0.0
*.so.0.0
*.so.0
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency files
*.d

# Valgring suppression files
*.sup

# Helper scripts
setenv.sh

# Compiled Programs
tests/randoc/src/randomCollectionTest
tests/program/src/parseQueryEvalProgramTest
tests/functions/src/functions
tests/posinfoBlock/src/testPosinfoBlock
tests/varSizeNodeTree/src/testVarSizeNodeTree
tests/metaDataRestrictions/src/testMetaDataRestrictions
tests/ranker/src/testRanker
src/lvdbstorage/strusCheckStorage
src/lvdbstorage/strusDumpStorage
