Source: strus
Section: unknown
Priority: extra
Maintainer: Patrick Frey <patrickpfrey@gmail.com>
Build-Depends: debhelper (>= 9), libboost_system, libleveldb, libsnappy
Standards-Version: 3.8.3
Homepage: http://www.project-strus.net/

Package: strus-database-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost_system, libleveldb, libsnappy
Description: A key value store database based on the leveldb library

Package: strus-storage-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, strus-database-dev
Description: A library implementing the storage of a text search engine

Package: strus-queryproc-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, strus-storage-dev
Description: A library with functions for ranking and summarization

Package: strus-queryeval-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, strus-storage-dev, strus-queryproc-dev
Description: A library implementing query evaluation for strus

