/*
Original design: Basic Profile (v2.0 - Sep 11, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-profile/
*/

*{margin:0; padding:0;}
body {background:#fff url(background.jpg) top center no-repeat; color:#303030; font:84% Arial,Helvetica,sans-serif; line-height:1.6em;}
a {color:#5070A0; text-decoration:none;}
a:hover {text-decoration:underline;}
p,ul,ol,dl {margin:0 0 30px 0;}
h1 {color:#888; font-size:3.2em; line-height:1.1em; letter-spacing:-3px; margin:20px 0 0 0;}
h1 a {color:#080808; text-transform:none;}
h2 {font-size:2.2em; color:#333; margin:20px 0 20px; letter-spacing:-1px; border-bottom:2px solid #eee;}
h3 {font-size:1.8em; margin:10px 0 15px 0; letter-spacing:-1px; border-bottom:2px solid #eee;}
h4 {font-size:1.4em; margin:10px 0 15px 0; letter-spacing:-1px;}
h1,h2,h3 {font-weight:700; line-height:1.4em;}
#wrap {color:#303030; margin:40px auto; padding:0; width:60%;}
#content {text-align:left; width:90%; padding-right:40px;}
#content ul {margin:10px; padding:0px 0 0 0;}
#content li {padding-left:20px; margin:0 10px 0; padding:0 0 0 0; }
#sidebar {float:right; width:30%; padding-left:40px; border-left:2px solid #ccc; }
#sidebar ul {list-style:none; margin:0; padding:10px 0 0 0; border-top:1px solid #eee;}
#sidebar li {list-style:none; font-size:1.2em; margin:0 0 10px; padding:0 0 10px 0; color:#888; border-bottom:1px solid #eee;}
#sidebar li a {font-size:1.2em;}
#sidebar h2 {font-size: 1.4em;}
#whiteboard {display:table; }
#whiteboarddescr {font-size:1.2em; font-style:italic;}
#whiteboardrow {display:table-row; }
#whiteboardcol {display:table-cell; padding:30px 0 0 0; font-size:1.1em; color:#303030; text-align:left; }
#whiteboardheading {display:table-cell; font-weight:700; font-size:1.2em; color:#1888; text-align:left; }
#api table {margin:0 0 50px; }
.slogan {color:#888; font-size:1.4em; font-weight:700; margin:0 0 20px 0; letter-spacing:-1px;}
.readmore {text-align:right; margin:0 20px 30px 0;}
.timestamp {display:block; font-weight:700; color:#888; text-align:right; width:150px; padding:20px 20px 20px 0; float:left; margin:0 20px 20px 0; border-right:2px solid #eee;}
.timestamp a {font-weight:normal;}
.credits {display:block; clear:left; font-size:0.9em; color:#aaa; margin:20px 0;}
.title {font-weight:bold;}
.identifier {color:#080808; font-weight:bold;}
.library { padding-bottom: 50px; }
.description a {color:#5070A0; font-weight:bold;}
.credits a {color:#888;}
.clear {clear:both;}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: italic;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + pre {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + pre {
  display: block;
}

.toggle-box + label:before {
  background-color: #888;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
} 


